html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  position: relative;
  width: 100%;
}

.hidden {
  display: none;
}

#status {
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 0rem;
  margin-right: 0rem;
  border: 0.1rem solid #000000;
}

@media (min-width: 40rem) {
  body {
    min-width: 40rem;
    min-height: 40rem;
  }

  #master {
    margin: auto;
    width: 40rem;
    height: 40rem;
  }

  #file-input {
    position: absolute;
    left: 5rem;
    margin-left: 0rem;
    margin-right: 1rem;
  }

  #file-send {
    position: absolute;
    width: 5rem;
    right: 5rem;
    margin-left: 1rem;
    margin-right: 0rem;
  }
}

@media (max-width: 40rem) {
  #file-input {
    display: block;
    position: relative;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-bottom: 0.8rem;
  }

  #file-send {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 6rem;
  }
}
